
body{
    background-color: black;
    color: white;
    text-align: center;
}

p{
    font-size: 20px;
    font-family: "Roboto", Verdana, cursive, sans-serif;
    font-weight: bold;
    text-align: justify;
}
h2{
    font-family: "Road Rage", "Jersey 10", "Roboto", Verdana;
    color: crimson;
    font-size: 50px;
    text-align: left;
    font-weight: lighter;
}
#titulo{
    background-color: darkblue;
    color: lime;
    font-size: 35px;
    font-family: "Jersey 10" , Verdana, cursive, sans-serif;
    font-weight: lighter;
    

}
#dlcs{
    background-color: rgb(56, 58, 58);
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
    border-radius: 20px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: rgb(37, 37, 37);
    border-bottom-color: rgb(37, 37, 37);
    border-width: 10px;
}
#dlcsdeadcells{
    text-align: left;
    font-size: 18px;
    font-family: cursive, Verdana;
    font-weight: bold;
}

#Zomboid1{
    text-align: left;
    width: 33%;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    
}
#Zomboid2{
    text-align: right;
    width: 28%;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
#cells1{
    width: 32%;
    text-align: left;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}
#cells2{
    width: 30%;
    text-align: right;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;

}
#cuphead1{
    text-align: left;
    width: 30%;
    border-radius: 10px;
}
#cuphead2{
    text-align: right;
    width: 34%;
    border-radius: 10px;
}
#imagemcomeco{
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-right-color: red;
    border-bottom-color: red;
    border-top-color: blue;
    border-left-color: blue;
}
