@font-face {
    font-family: OCR a Std;
    src: url(/home/escola/Documentos/ocr-a-std.otf);
}

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}
