body{
    background-color: black;
    color: white;
    text-align: center;
}

p{
    font-size: 20px;
    font-family: "Roboto", Verdana, cursive, sans-serif;
    font-weight: bold;
}
h2{
    font-family: "Road Rage", "Jersey 10", "Roboto", Verdana;
    color: skyblue;
    font-size: 50px;
    text-align: left;
    font-weight: lighter;
}
#titulo{
    margin: 0px;
    background-color: rgb(56, 58, 58);
    font-size: 35px;
    font-family: "Jersey 10" , Verdana, cursive, sans-serif;
    font-weight: lighter;
}
#dlcs{
    background-color: rgb(56, 58, 58);
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
    border-radius: 20px;
}
#dlcsdeadcells{
    text-align: left;
    font-size: 18px;
    font-family: cursive, Verdana;
    font-weight: bold;
}

#Zomboid1{
    text-align: left;
    width: 33%;
    border-radius: 10px;
}
#Zomboid2{
    text-align: right;
    width: 30%;
    border-radius: 10px;
}
#cells1{
    width: 32%;
    text-align: left;
    border-radius: 10px;
}
#cells2{
    width: 30%;
    text-align: right;
    border-radius: 10px;
}
